<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %> <br/>
<%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>
<br/>
<%= button_to "Available Pets", "/shelters/#{@shelter.id}/pets", method: :get %>
<%= button_to "Add Review", "/shelters/#{@shelter.id}/reviews/new", method: :get %>
<br/>
<% @reviews.each do |review| %>
  <h3><%= review.title %> <%= review.rating %> / 5 </h3>
  <p><%= review.content %></p>
  <%= button_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit", method: :get %>
<% end %>
<br/>
<%= button_to "Update Shelter", "/shelters/#{@shelter.id}/edit", method: :get %>
<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
