<h1>All Favorites</h1>

<% if @favorites.empty? %>
<h2>You have no favorited pets.</h2>
<% else %>
<%= button_to "Remove All Favorites", "/favorites", method: :delete %>
<%= button_to "Apply for Adoption", "/applications/new", method: :get %>
<% end %>

<% @favorites.each do |pet_id|%>
  <% pet = favorite.get_pet(pet_id) %>
  <section class = "favorite-<%= pet_id %>">
  <%= image_tag(pet.image) %>
  <p><%= link_to pet.name, "/pets/#{pet_id}" %></p>
  <%= button_to "Remove Favorite", "/favorites/#{pet_id}", method: :delete, params: {prev_page: "/favorites"} %>
  </section>
<% end %>
