<h1><%= @applicant.name %></h1>
<p><%= @applicant.address %> <br/>
<%= @applicant.city %>, <%= @applicant.state %> <%= @applicant.zip %><br/>
<%= @applicant.phone %>
<br/>
<%= @applicant.description %>
</p>
<br/>
<%= form_tag "/applications/#{@applicant.id}", method: :patch do %>
  <% @applicant.pets.each do |pet| %>
    <section class = "app-<%= pet.id  %>">
      <%= check_box_tag 'pet_ids[]', pet.id %>
      <%= link_to pet.name, "/pets/#{pet.id}" %>
      <%= button_to "Approve Application", "/pets/#{pet.id}/applications", method: :patch, params: {applicant: @applicant.id} %>
    </section>
  <% end %>
  <%= submit_tag "Approve All Selected" %>
<% end %>
