<h1><%= @applicant.name %></h1>
<p><%= @applicant.address %> <br/>
<%= @applicant.city %>, <%= @applicant.state %> <%= @applicant.zip %><br/>
<%= @applicant.phone %>
<br/>
<%= @applicant.description %>
</p>
<br/>
<% @applicant.pets.each do |pet| %>
<section class = "app-<%= pet.id  %>">
<%= link_to pet.name, "/pets/#{pet.id}" %>
<%= button_to "Approve Application", "/pets/#{pet.id}/applications", method: :patch, params: {applicant: @applicant.id} %>
</section>
<% end %>
