<h1><%= @applicant.name %></h1>
<p><%= @applicant.address %> <br/>
<%= @applicant.city %>, <%= @applicant.state %> <%= @applicant.zip %><br/>
<%= @applicant.phone %>
<br/>
<%= @applicant.description %>
</p>
<br/>
<% @applicant.pets.each do |pet| %>
  <section class = "app-<%= pet.id  %>">
    <%= link_to pet.name, "/pets/#{pet.id}" %><br/>
    <% if !@applicant.is_approved_for_pet?(pet.id) %>
      <%= button_to "Approve Application", "/pets/#{pet.id}/applications", method: :patch, params: {applicant: @applicant.id} %>
    <% else %>
      <%= button_to "Revoke Approval", "/pets/#{pet.id}/applications", method: :delete, params: {applicant: @applicant.id} %>
    <% end %>
  </section>
<% end %>
<br/>
<%= form_tag "/applications/#{@applicant.id}", method: :patch do %>
  <h3>Apply for Multiple Pets at Once:</h3>
  <% @applicant.pets.each do |pet| %>
    <section class = "check-<%= pet.id  %>">
    <%= link_to pet.name, "/pets/#{pet.id}" %>
    <%= check_box_tag 'pet_ids[]', pet.id %></section>
  <% end %><br/>
  <%= submit_tag "Approve All Selected" %>
<% end %>
